.text-center {
    text-align: center;
}
.div-inline {
    display:inline-block;
}

#wd {
    border-radius: 6px;
    height: 44px;
    width: 400px;
    padding: 1px 15px;
    font-size: 18px;
    border: 2px solid #ccc; 
    float: left; 
} 

#subBtn {
    margin-left: -33px;
    border: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#subBtn.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
#subBtn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
#subBtn {
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333; 
    border-radius: 6px;
    float: left;
}
